.header {
ion-title {
    height: fit-content;
    background: linear-gradient(red, blue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ion-icon{
    font-size: 20px;
  }
}