@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ion-grid {
  --ion-grid-width: 540px;
  height: 100%;
}
ion-row {
  height: 100%;
}
ion-col {
  height: 100%;
}

.d-flex {
  display: flex;
}

.mar-r-10 {
  margin-right: 10px;
}
.mar-l-10 {
  margin-left: 10px;
}
.mar-t-10 {
  margin-top: 10px;
}
.mar-b-10 {
  margin-bottom: 10px;
}

.scroll-x {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scroll-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
